@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/bg/main-bg.jpg") center center/cover no-repeat;
  height: 100vh;
  min-height: 650px;
  color: #fff;
}

.hero__title-section {
  width: 46%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px 0 45px;
}

.hero__main-title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 39px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  margin-right: 15px;
}
.menu__item:last-child {
  margin-right: 0;
}

.phone-number {
  font-size: 24px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.menu__link {
  text-decoration: none;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item {
  margin-right: 34px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 46px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__text {
  font-size: 16px;
  line-height: 17px;
  max-width: 85px;
}

.btn {
  font-size: 16px;
  font-weight: 700;
  padding: 22px 43px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn--color {
  background: #FEDB3F;
  color: #666666;
}
.btn--color:hover {
  background: #FFD517;
  color: #666666;
}
.btn--color-tone {
  background: #FFD517;
}
.btn--color-tone:hover {
  background: #FEDB3F;
}
.btn--transparent {
  background: transparent;
  text-transform: none;
  color: #fff;
  font-weight: 400;
  padding: 21px 19px;
}
.btn--transparent:hover {
  color: #FEDB3F;
}

.section {
  height: 100vh;
  min-height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--font-color {
  color: #ffffff;
}
.section--font-color .section__title {
  color: inherit;
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}

.headline {
  text-align: center;
}

.headline__title {
  line-height: 58px;
  margin-bottom: 17px;
}

.headline__subtitle {
  line-height: 22px;
  padding: 0 27%;
  margin-bottom: 49px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 26px;
  position: relative;
}
.advantages__item:before {
  content: url("../img/decor/balls.png");
  position: absolute;
  top: 30px;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.advantages__item:first-child {
  padding-left: 0;
}
.advantages__item:last-child {
  padding-right: 0;
}
.advantages__item:last-child:before {
  display: none;
}

.advantage {
  text-align: center;
}

.advantage__image {
  margin-bottom: 10px;
}
.advantage__image-wrapper {
  display: inline-block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.advantage__icon {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.advantage__title {
  font-size: 27px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 21px;
}

.advantage__desc {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

/*.reviews__display {
    background: #F8FAF9;
    padding: 42px;
    margin-bottom: 15px;
}
.reviews__display-inner {
    display: flex;
}
.reviews__avatar {
    width: 253px;
    height: 264px;
}*/
.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/*.reviews__content {
    flex: 1;
    margin-left: 40px;
    padding-top: 26px;
}
.reviews__title {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 10px;
}*/
/*.reviews__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    padding-right: 100px;
    margin-bottom: 25px;
}
.reviews__author {
    font-weight: 700;
}*/
.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F8FAF9;
  padding: 41px 90px 40px 40px;
  margin-bottom: 15px;
}
.reviews__content {
  padding: 30px 40px 30px 40px;
}

.reviews__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 14px;
}

.reviews__text {
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 25px;
}

.reviews__author {
  font-weight: 500;
  line-height: 24px;
  color: #292929;
}

.interactive-avatar {
  width: 74px;
  height: 74px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border: 6px solid #FEDB3F;
}
.interactive-avatar:hover {
  border: 6px solid #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-title {
  margin-bottom: 52px;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 26px;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 12px;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 15px 12px 15px;
  border: solid 3px transparent;
  border-radius: 3px;
}
.form__input[value] {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.form__input--textarea {
  height: 153px;
  resize: none;
  margin-bottom: 18px;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__controls-checkbox {
  margin-bottom: 25px;
}

.form-section {
  background: url("../img/bg/form-bg.jpg") center center/cover no-repeat;
  height: 100vh;
  min-height: 650px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 16px;
  margin-right: 20px;
}
.radio--checkbox .radio__visible {
  border-radius: 3px;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/icons/good.png") center center no-repeat;
}

.radio__title {
  line-height: 28px;
  padding-left: 10px;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 13px;
  height: 13px;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 50;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #ffffff;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map-section {
  background: url("../img/content/map.jpg") center center/cover no-repeat;
  height: 100vh;
  min-height: 650px;
}