@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/bg/main-bg.jpg") center center/cover no-repeat;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: #fff;
}

.hero__title-section {
  width: 46%;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 1.1111111111rem;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    display: none;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.3333333333rem 0 2.5rem;
}

.hero__main-title {
  font-size: 2.6666666667rem;
  line-height: 3.2222222222rem;
  font-weight: 700;
  margin-bottom: 0.8333333333rem;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2.2222222222rem;
    line-height: 2rem;
  }
}

.hero__title-desc {
  font-size: 1.1666666667rem;
  margin-bottom: 2.1666666667rem;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    padding: 0 11%;
    font-size: 1.1666666667rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.menu {
  margin: 0;
  padding-top: 0.3333333333rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  margin-right: 1.1111111111rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .menu__item {
    margin-right: 0;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.logo {
  margin-right: 2.5555555556rem;
}

.phone-number {
  font-size: 1.3333333333rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__text {
  font-size: 1.2222222222rem;
  font-weight: 700;
  line-height: 1rem;
  margin-right: 0;
  white-space: nowrap;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.7222222222rem;
  height: 0.7777777778rem;
  margin-right: 0.3333333333rem;
}
.phone-number__icon-elem--header {
  fill: #ffffff;
}
.phone-number__icon-elem--footer {
  fill: #292929;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
}

.burger {
  position: fixed;
  top: 1.9444444444rem;
  right: 3%;
  height: 20px;
  width: 24px;
  cursor: pointer;
  z-index: 15;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: none;
}
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
}
.burger__line {
  width: 100%;
  height: 0.2222222222rem;
  position: absolute;
  border-radius: 0.5555555556rem;
  background-color: #fff;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.burger__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger__line:nth-child(3) {
  bottom: 0;
  top: initial;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: fixed;
  top: 0;
  left: 100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.overlay .menu {
  display: block;
  text-align: center;
  font-size: 2rem;
}
.overlay .menu__list {
  display: block;
  line-height: 4rem;
  color: #ffffff;
  font-weight: 400;
}

.menu__item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__link:hover {
  opacity: 0.7;
}

.burger--active .burger__line:nth-child(1) {
  opacity: 0;
}
.burger--active .burger__line:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger--active .burger__line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-5px) translateX(4px);
          transform: rotate(-45deg) translateY(-5px) translateX(4px);
}

.overlay--active {
  left: 0;
  opacity: 1;
}

.body--active-menu {
  overflow: hidden;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item {
  margin-right: 1.8888888889rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__icon {
  width: 2.5555555556rem;
  margin-right: 0.3888888889rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.future__icon-elem {
  height: 35px;
  width: 35px;
}

.feature__text {
  font-size: 0.8888888889rem;
  line-height: 0.9444444444rem;
  max-width: 4.7222222222rem;
}

.btn {
  font-size: 0.8888888889rem;
  font-weight: 700;
  color: #000000;
  padding: 1.2222222222rem 2.3888888889rem;
  text-transform: uppercase;
  border-radius: 5.5555555556rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .btn {
    font-size: 1.1111111111rem;
    font-weight: 800;
    line-height: 1.0555555556rem;
    padding: 1.4444444444rem 2.3888888889rem 1.2222222222rem 2.3888888889rem;
  }
}
.btn--color {
  background: #FEDB3F;
  color: #000000;
}
.btn--color:hover {
  background: #FFD517;
  color: #666666;
}
.btn--color-tone {
  background: #FFD517;
}
.btn--color-tone:hover {
  background: #FEDB3F;
}
.btn--transparent {
  background: transparent;
  text-transform: none;
  color: #fff;
  font-weight: 400;
  padding: 1.1666666667rem 1.0555555556rem;
}
.btn--transparent:hover {
  color: #FEDB3F;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section--font-color {
  color: #ffffff;
}
.section--font-color .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  margin-bottom: 1.3888888889rem;
  text-align: center;
  text-transform: uppercase;
  color: #292929;
}

@media screen and (max-width: 768px) {
  .section__title-reviews {
    margin-bottom: 2.2222222222rem;
    font-size: 2.6666666667rem;
    line-height: 3.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title-reviews {
    padding-top: 1.1111111111rem;
    font-size: 2.2222222222rem;
    line-height: 2rem;
    margin-bottom: 0.8333333333rem;
  }
}

.headline {
  text-align: center;
}

.headline__title {
  line-height: 3.2222222222rem;
  margin-bottom: 0.9444444444rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    margin-bottom: 0.2777777778rem;
  }
}

.headline__subtitle {
  line-height: 1.2222222222rem;
  padding: 0 27%;
  margin-bottom: 2.7222222222rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 8%;
    margin-bottom: 2.2222222222rem;
  }
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.advantages__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1.4444444444rem;
  position: relative;
}
@media screen and (max-width: 480px) {
  .advantages__item {
    padding: 0;
    padding-top: 5px;
  }
}
.advantages__item:before {
  content: url("../img/decor/balls.png");
  position: absolute;
  top: 1.6666666667rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .advantages__item:before {
    display: none;
  }
}
.advantages__item:first-child {
  padding-left: 0;
}
.advantages__item:last-child {
  padding-right: 0;
}
.advantages__item:last-child:before {
  display: none;
}

.advantage {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .advantage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.advantage__image {
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 480px) {
  .advantage__image {
    margin-bottom: 0;
    margin-right: 1.1111111111rem;
  }
}
.advantage__image-wrapper {
  display: inline-block;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.advantage__icon {
  width: 3.7777777778rem;
  height: 3.7777777778rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.advantage__title {
  font-size: 1.5rem;
  line-height: 1.8333333333rem;
  font-weight: 700;
  margin-bottom: 1.1666666667rem;
}
@media screen and (max-width: 480px) {
  .advantage__title {
    margin-bottom: 0.5rem;
  }
}

.advantage__desc {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.1666666667rem;
}

.products-section {
  background: #F8FAF9;
}

.slider__wrap .bx-wrapper {
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding: 0 0rem 0 2.2222222222rem;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}
@media screen and (max-width: 768px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.slider__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 3.3333333333rem;
}
.slider__col:last-child {
  margin-right: 0;
}

.slider__title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.3888888889rem;
  margin-bottom: 1.3333333333rem;
  text-transform: uppercase;
  color: #292929;
}

.slider__desc {
  line-height: 1.1666666667rem;
  font-weight: 400;
  margin-bottom: 1.3333333333rem;
}

.slider__content {
  padding: 0 1.3888888889rem 0 0;
}
@media screen and (max-width: 768px) {
  .slider__content {
    padding-right: 0;
  }
}

.slider__text-param {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .slider__text-param {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slider__col-param {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2.7777777778rem;
}
.slider__col-param:last-child {
  margin-right: 0;
}

.slider__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .slider__cost {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slider__cost-text {
  font-size: 3.3333333333rem;
  line-height: 3.3333333333rem;
  color: #292929;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .slider__cost-text {
    margin-right: 2.7777777778rem;
  }
}

.slider__value-param {
  line-height: 1.1666666667rem;
  font-weight: 700;
  color: #000000;
}

.slider__btn {
  background: #FEDB3F;
  font-weight: 800;
}

.dropdown__menu {
  padding: 1rem 0.7222222222rem 1.1666666667rem 0.7777777778rem;
  width: 15.1666666667rem;
  font-size: 0.8888888889rem;
  font-weight: 500;
  line-height: 1.3333333333rem;
  background: #d5d5d5;
  color: #000000;
  font-weight: 500;
  border-radius: 0.2222222222rem;
}
.dropdown__icon {
  height: 1.7777777778rem;
  width: 1.7777777778rem;
  margin-right: 0.8333333333rem;
}
.dropdown__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8333333333rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.4444444444rem;
}
.dropdown__item:last-child {
  margin-bottom: 0;
}
.dropdown__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropdown__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products {
  position: relative;
}
.products__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: absolute;
  margin: 0 -20px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7%;
}
@media screen and (max-width: 768px) {
  .products__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.products__title {
  color: #292929;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4444444444rem;
  text-transform: uppercase;
}

.products__desc {
  font-weight: 400;
  color: #666666;
  margin-bottom: 1.3333333333rem;
}

.products__parameters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .products__parameters-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products__parameters-item {
  margin-right: 2.4444444444rem;
}
.products__parameters-item:last-child {
  margin-right: 0;
}

.products__parameters-title {
  color: #000000;
  font-weight: 700;
  line-height: 1.2222222222rem;
}

.products__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #151515;
  font-weight: 300;
  font-size: 3.3333333333rem;
  line-height: 3.3333333333rem;
}
@media screen and (max-width: 768px) {
  .products__cost {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products__cost-pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .products__cost-pricing {
    margin-right: 20px;
  }
}

.products__btn {
  background: #FEDB3F;
}

.parameters {
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  background: #3A587E;
  margin-bottom: 3.8888888889rem;
  position: relative;
  top: 0.7777777778rem;
  border-radius: 0.2222222222rem;
  padding-bottom: 0.6666666667rem;
}
@media screen and (max-width: 768px) {
  .parameters {
    display: none;
  }
}
.parameters:hover .parameters__menu {
  display: block;
}
.parameters__menu {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
}
.parameters__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.parameters__img {
  width: 1.7777777778rem;
  height: 1.7777777778rem;
  margin-bottom: 0.3888888889rem;
}
.parameters__text {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.7777777778rem;
  line-height: 0.9444444444rem;
  font-weight: 700;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team--version--desktop .team__content {
  position: absolute;
  top: 100%;
}
@media screen and (max-width: 768px) {
  .team--version--desktop {
    display: none;
  }
}
.team--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team--version--mobile {
    display: block;
  }
}
.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  margin-right: 1.1111111111rem;
  position: relative;
}
.team__item-active .team__content {
  height: 100%;
}
.team__item-active .team__title:after {
  content: "";
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.team__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .team__item {
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0.8888888889rem;
  }
  .team__item:last-child {
    margin-bottom: 0;
  }
}
.team__member {
  margin-bottom: 1.1111111111rem;
}
.team__title {
  color: #000000;
  font-weight: 700;
  font-size: 1.1666666667rem;
  line-height: 1.3888888889rem;
  border: none;
  background: 0;
  margin-bottom: 0.5555555556rem;
  cursor: pointer;
  position: relative;
}
.team__title-icon {
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  top: 34%;
  right: -5%;
}
.team__title-icon--active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.team__content {
  overflow: hidden;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  height: 0;
}
@media screen and (max-width: 768px) {
  .team__content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100px;
  }
}
.team__occ {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1666666667rem;
  color: #000000;
  margin-bottom: 0.4444444444rem;
}
@media screen and (max-width: 768px) {
  .team__occ {
    font-weight: 700;
    font-size: 1rem;
  }
}
.team__content-text {
  font-weight: 300;
}
.reviews__display {
  background: #F8FAF9;
  padding: 2.3333333333rem;
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding-top: 1.6666666667rem;
  }
}

.reviews__list {
  position: relative;
  min-height: 15.5555555556rem;
}

.reviews__item {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
}
.reviews__item--active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 0.5555555556rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.2222222222rem;
  padding-top: 1.4444444444rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
    margin-bottom: 1.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content {
    padding-top: 1.4444444444rem;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5555555556rem;
  color: #292929;
}

.reviews__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2222222222rem;
  padding-right: 5.5555555556rem;
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .reviews__text {
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .reviews__text {
    margin-bottom: 0.8333333333rem;
  }
}

.reviews__author {
  font-weight: 700;
  color: #292929;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 4.1111111111rem;
  height: 4.1111111111rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border: 0.3333333333rem solid #FEDB3F;
}
.interactive-avatar:hover {
  border: 0.3333333333rem solid #FEDB3F;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18%;
    padding-bottom: 10rem;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form-title {
  margin-bottom: 2.8888888889rem;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.4444444444rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5555555556rem;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.6666666667rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 0.8333333333rem 0.6666666667rem 0.8333333333rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.1666666667rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4444444444rem 0.6666666667rem 0.4444444444rem;
  }
}
.form__input[value] {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7777777778rem;
  font-weight: 400;
  padding: 0.9444444444rem;
}
@media screen and (max-width: 768px) {
  .form__input[value] {
    padding: 0.6111111111rem;
  }
}
.form__input--textarea {
  height: 8.5rem;
  resize: none;
  margin-bottom: 1rem;
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__controls-checkbox {
  margin-bottom: 1.3888888889rem;
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__input.input-error {
  border-color: blueviolet;
}

.form-section {
  background: url("../img/bg/form-bg.jpg") center center/cover no-repeat;
  height: 100vh;
  min-height: 41.6666666667rem;
}

@media screen and (max-width: 768px) {
  .form-title {
    margin-bottom: 1.3888888889rem;
  }
}
.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 0.8888888889rem;
  margin-right: 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
}
.radio:last-child {
  margin-bottom: 0;
  margin-right: 0;
}
.radio--checkbox .radio__visible {
  border-radius: 0.1666666667rem;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/tech/good.png") center center no-repeat;
}

.radio__title {
  line-height: 1.5555555556rem;
  padding-left: 0.5555555556rem;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible:before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 50;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #ffffff;
}

.fixed-menu__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 23px 0;
  background: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts {
  font-style: normal;
  font-size: 1.1111111111rem;
  color: #010101;
}
@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 0.5555555556rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts__phone {
  color: #292929;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  margin-right: 20px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials__link:hover .socials__icon {
  opacity: 1;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #292929;
  opacity: 0.3;
}

#hidden-window {
  display: none;
}

.modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__content {
  font-size: 1rem;
  color: #000000;
  font-weight: 700;
  line-height: 1.3333333333rem;
  margin-bottom: 1.3333333333rem;
}

.modal-btn {
  background: #FEDB3F;
}