.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include tablets {
        background-color: #1968B1;
        min-height: rem(91px);
        align-items: center;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: rem(30px);
        z-index: 15;
    }
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}



