.products-menu {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  bottom: 0;
}

.products-menu-section__title {
  color: #fff;
  text-align: left;
  font-size: rem(48px);
  font-weight: 700;
  text-transform: uppercase;
  padding-left: rem(40px);

  @include tablets {
    padding-left: 20px;
  }
}

.products-menu__item {
  display: flex;

}

.products-menu__title {
  text-decoration: none;
  position: relative;
  width: 102px;

  @include phones {
    width: rem(90px);
  }
}

.products-menu__title-img {
  background: #000;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.products-menu__title-text {
  position: absolute;
  white-space: nowrap;
  font-size: 48px;
  font-weight: 700;
  bottom: 0;
  left: 50%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  margin-bottom: 10px;
  line-height: 1;

  @include phones {
    font-size: rem(40px);
  }

}

.products-menu__content {
  transition: width 0.5s;
  background: rgba(51, 53, 55, 0.9);
  backdrop-filter: blur(10px);
  width: 0;
  overflow: hidden;
}

.products-menu__content-main {
  padding: 31px 80px 31px 38px;

  @include tablets {
    padding: rem(40px) rem(38px);
    font-size: rem(16px);
    font-weight: 400;
    line-height: rem(24px);
  }

  @include phones {
    padding: rem(35px) rem(20px);
  }
}