.advantages {
    display: flex;

    @include phones {
        flex-direction: column;
    }
}

.advantages__item {
    flex: 1;
    padding: 0 rem(26px);
    position: relative;

    @include phones {
        padding: 0;
        padding-top: 5px;
    }

    &:before {
        content: url('../img/decor/balls.png');
        position: absolute;
        top: rem(30px);
        right: 0;
        transform: translateX(50%);

        @include tablets {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;

        &:before {
            display: none;
        }
    }
}