.btn {
    font-size: rem(16px);
    font-weight: 700;
    color: #000000;
    padding: rem(22px) rem(43px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;

    @include phones {
        font-size: rem(20px);
        font-weight: 800;
        line-height: rem(19px);
        padding: rem(26px) rem(43px) rem(22px) rem(43px);
    }

    &--color {
        background: $accent;
        color: $colorBtnHero;

        &:hover {
            background: $accentHover;
            color: $textColor;
        }
    }

    &--color-tone {
        background: #FFD517;

        &:hover {
            background:$accent;
        }
    }

    &--transparent {
        background: transparent;
        text-transform: none;
        color: #fff;
        font-weight: 400;
        padding: rem(21px) rem(19px);

        &:hover {
            color:$accent;
        }
    }

}