.dropdown {
    &__menu {
        padding: rem(18px) rem(13px) rem(21px) rem(14px);
        width: rem(273px);
        font-size: rem(16px);
        font-weight: 500;
        line-height: rem(24px);
        background: #d5d5d5;
        color: #000000;
        font-weight: 500;
        border-radius: rem(4px);
    }

    &__icon {
        height: rem(32px);
        width: rem(32px);
        margin-right: rem(15px);
    }

    &__item {
        display: flex;
        padding: rem(15px); 
        justify-content: space-between;
        margin-bottom: rem(8px);
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__desc { 
        display: flex;
    }

}








