.feature {
    display: flex;
}

.feature__icon {
    width: rem(46px);
    margin-right: rem(7px);
    display: flex;
    align-items: center;
}

.feature__text {
    font-size: rem(16px);
    line-height: rem(17px);
    max-width: rem(85px);
}