/*.fixed-menu {
    position: fixed;
    top: 20%;
    right: 3%;
    z-index: $z-fixed;
    color: aliceblue;
    @include tablets {
        display: none;
    }
}



.fixed-menu__item {
    margin-bottom: rem(5px);

    &:last-child {
        margin-bottom: 0;
    }

    &--active {
        .fixed-menu__link {
            border-color: $colorLight;
        }
    }
}

.fixed-menu__link {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    display: block;
    position: relative;
    

    &::before {
        content: '';
        display: block;
        width: rem(6px);
        height: rem(6px);

        border-radius: 50%;
        background: $colorLight;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.fixed-menu--shadowed {

    border-color: rgb(12, 13, 14);
    color: #000000;
    //background-color: #000000;
}

*/

.fixed-menu {
    position: fixed;
    top: 33%;
    right: 3%;
    z-index: $z-fixed;

    &__item {
        margin-bottom: rem(5px);
      
        &--active {
          .fixed-menu__link {
            border-color: #fff;
          }
        }
      }
      
      &__link {
        width: rem(18px);
        height: rem(18px);
        border-radius: 50%;
        border: rem(1px) solid transparent;
        display: block;
        position: relative;
      
        &:before {
          content: "";
          width: rem(8px);
          height: rem(8px);
          border-radius: 50%;
          background: #fff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
  
    &--shadowed {
          .fixed-menu__item {    
        &--active {
          .fixed-menu__link {
            border-color: #2f3f55;
          }
        }
      }
  
      .fixed-menu__link {
        &:before {
          content: "";
          background: #153a66;
        }
      }
    }
  
    @include tablets {
      display: none;
    }
  }
  
  