.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 18%;
        padding-bottom: rem(180px);
    }

    @include phones {
        padding: 0;
    }
}

.form-title {
    margin-bottom: rem(52px);
} 

.form__col {
    flex: 1;
    margin-right: rem(26px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(10px);
    
    &:last-child {
        margin-bottom: 0;
    }
}

.form__block {
    flex: 1;
    margin-right: rem(12px);

    &:last-child {
        margin-right: 0;
    }

}

.form__input {
    width: 100%;
    border: none;
    padding: rem(15px) rem(12px) rem(15px);
    border: solid rem(3px) transparent;
    border-radius: rem(3px);

    @include tablets {
        padding: rem(8px) rem(12px) rem(8px);
    }

    &[value] {
        font-family: 'Open Sans', sans-serif;
        font-size: rem(14px);
        font-weight: 400;
        padding: rem(17px);

        @include tablets {
            padding: rem(11px);
        }
        
    }

    &--textarea {
        height: rem(153px);
        resize: none;
        margin-bottom: rem(18px);
    }

    &:focus {
        border-color: $accent;
        outline: none;
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap; 

    @include phones {
        justify-content: center;
    }
}

.form__controls-checkbox {
    margin-bottom: rem(25px);
}

.form__btns {
    display: flex;
    justify-content: center;
}



.form__input.input-error {
    border-color: blueviolet;
}
