.form-section {
    background: url('../img/bg/form-bg.jpg') center center/cover no-repeat;
    //height: 100vh;
    min-height: rem(750px);
}

.form-title {
    @include tablets {
        margin-bottom: rem(25px);
    }
    
    @include phones {
        
    }
}