.form-section {
    background: url('../img/bg/form-bg.jpg') center center/cover no-repeat;
    height: 100vh;
    min-height: rem(650px);

    @include tablets {
        height: auto;
    }
}

.form-title {
    @include tablets {
        letter-spacing: rem(5px);
        padding-top: rem(175px);
        margin-bottom: rem(25px);
    }
    
    @include phones {
        padding-top: rem(90px);
    }
}