.headline {
    text-align: center;
}
.headline__title {
    line-height: rem(58px);
    margin-bottom: rem(17px);
}
.headline__subtitle {
    line-height: rem(22px);
    padding: 0 27%;
    margin-bottom: rem(49px);

    @include phones {
        padding: 0 5%;
    }
}

