.headline {
    text-align: center;
}
.headline__title {
    line-height: 58px;
    margin-bottom: 17px;
}
.headline__subtitle {
    line-height: 22px;
    padding: 0 27%;
    margin-bottom: 49px;
}

