.parameters {
    width: rem(91px);
    height: rem(91px);
    background: #3A587E;
    margin-bottom: rem(64px);
    position: relative;
    top: rem(14px);

    @include tablets {
         display: none;
    }

    &:hover .parameters__menu {
        display: block;
    }

    &__menu {
        position: absolute;
        top: 0;
        left: 100%;
        display: none;
    }

}

.parameters__text {
    color: #ffffff;
    text-transform: uppercase;
    font-size: rem(14px);
    
}

.parameters__img {
    width: rem(32px);
    height: rem(32px);
}


    

   