.phone-number {
    font-size: rem(24px);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.phone-number__text {
    font-size: rem(22px);
    font-weight: 700;
    line-height: rem(18px);
    margin-right: 0;
    white-space: nowrap;
}

.phone-number__icon {
    flex-shrink: 0;
}

.phone-number__icon-elem {
    width: rem(13px);
    height: rem(14px);
    margin-right: rem(6px);
    fill: #ffffff;

    &--footer {
        fill: #292929;
        width: rem(14px);
        height: rem(14px);
    }
}

