.products-slider {
    position: relative;
}

.products-slider__arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 50%;
}