.product-menu-section__title {
  color: #ffffff;
  margin-right: auto;
  padding-left: rem(84px);
  position: absolute;
  top: rem(114px);
}

.products-menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

.products-menu__item {
  display: flex;
}

.products-menu__image {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.products-menu__title {
  position: relative;
  //width: rem(100px);

  &:after {
    content: "";
    display: block;
    top: 0;
    bottom: rem(0px);
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, .4);
  }
}

//.section__title.products-menu-section__title {
  //position: absolute;
  //top: rem(90px);
  //left: rem(80px);
  //color: #fff;
//}

.products-menu__text {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  white-space: nowrap;
  line-height: 1;
  font-size: rem(48px);
  font-weight: bold;
}

.products-menu__content {
  background: rgba(47, 50, 52, .9);
  width: 0;
  position: relative;
  overflow: hidden;
  transition: width .7s;
}

.products-menu__container {
  padding: rem(40px) rem(73px) rem(45px) rem(26px);
  
}

.products-menu__close {
  position: absolute;
  top: rem(20px);
  right: rem(25px);
  border: none;
  background: transparent;
}
.products-menu__close-icon {
  width: rem(18px);
  height: rem(18px);
  display: block;
  fill: #c2c3c4;
  transition: .3s;

  &:hover {
    opacity: .5;
  }
}