.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-bottom: rem(16px);
    margin-right: rem(20px);

    @include phones {
        margin-bottom: rem(10px);
    }

    &:last-child {
        margin-bottom: 0;
        margin-right: 0;
    }

    &--checkbox {
        .radio__visible {
            border-radius: rem(3px);

            &::before {
                background: url('../img/icons/good.png') center center no-repeat;
            }
        }
    }
}

.radio__title {
    line-height: rem(28px);
    padding-left: rem(10px);
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    width: rem(25px);
    height: rem(25px);
    position: relative;
    border-radius: 50%;
    background: #fff;

    &:before {
        content: '';
        width: rem(13px);
        height: rem(13px);
        background: $accent;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}