.reviews-avatar {
        display: flex;
        justify-content: center;
        align-items: center;

        &--active {
            border: 6px solid $accent;
        }
    
        &:hover {
            border: 6px solid $accent;
        }

        &__item {
            margin-right: 6px;
            
            
        }
}

.reviews-avatar__img {
    border-radius: 50%;
}
