.section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--font-color {
        color: #ffffff;

        .section__title {
            color: inherit;
        }
    }
}

.section__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    color:#292929;
}