.section {
    //height: 100vh;
    height: 100%;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--font-color {
        color: #ffffff;

        .section__title {
            color: inherit;
        }
    }
}

.section__title {
    font-size: rem(48px);
    font-weight: 700;
    margin-bottom: rem(25px);
    text-align: center;
    text-transform: uppercase;
    color:#292929;
}

.section__title-reviews {

    @include tablets {
        margin-bottom: rem(40px);
        font-size: rem(48px);
        line-height: rem(58px);
    }

    @include phones {
        padding-top: rem(20px);
        font-size: rem(40px);
        line-height: rem(36px);
        margin-bottom: rem(15px);
    }
    
}