.section {
    height: 100vh;
    min-height: rem(731px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--font-color {
        color: #ffffff;

        .section__title {
            color: inherit;
        }
    }
}

.section__title {
    font-size: rem(48px);
    font-weight: 700;
    margin-bottom: rem(25px);
    text-align: center;
    text-transform: uppercase;
    color:#292929;
}

.section__title-reviews {

    @include tablets {
        margin-bottom: rem(40px);
    }

    @include phones {
        margin-bottom: rem(15px);
    }
    
}