.slider {
    //width: 100%;


    &__wrap {
     //   overflow: hidden;
     .bx-wrapper {
        border: none;
        background: transparent;
        box-shadow: none;
    }
    }
}

.slider__list {
    display: flex;
    transition: all 1s;
    padding: 0 rem(0px) 0 rem(40px);

    
}

.slider__item {
    //position: relative;
    //width: 100%;
    //min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;

    @include tablets {
        flex-direction: column;
        align-items: center;
        text-align: center;
   }
}

.slider__col {
    flex: 1;
    margin-right: rem(60px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.slider__title {
    font-size: rem(36px);
    font-weight: 700;
    line-height: rem(43px);
    margin-bottom: rem(24px);
    text-transform: uppercase;
    color: #292929;
}

.slider__desc {
    line-height: rem(21px);
    font-weight: 400;
    margin-bottom: rem(24px);
    
}
.slider__content  {
    //padding:  rem(10px) rem(100px) 0 0;
    padding: 0 rem(25px) 0 0;
    @include tablets {
        padding-right: 0;
   }
    
}

.slider__text-param {
    display: flex;
    margin-bottom: rem(24px);

    @include tablets {
        justify-content: center;
   }
}
.slider__col-param {
    display: flex;
    flex-direction: column;
    margin-right: rem(50px);
    &:last-child {
        margin-right: 0;
    }
}
.slider__cost {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablets {
        justify-content: center;
}
}
.slider__cost-text {
    font-size: rem(60px);
    line-height: rem(60px);
    color: #292929;
    font-weight: 300;

    @include tablets {
        margin-right: rem(50px);
   }
}
.slider__value-param {
    line-height: rem(21px);
    font-weight: 700;
    color: #000000;
}
.slider__btn {
    background: #FEDB3F;
    font-weight: 800;
}

