.team {
    display: flex;
    justify-content: space-between;

    &__item {
        flex: 1;
        text-align: center;
        margin-right: rem(20px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__member {
        margin-bottom: rem(20px);
    }

    &__title {
        color: #000000;
        font-weight: 700;
        font-size: rem(21px);
        line-height: rem(25px);
        border: none;
        background: 0;
        margin-bottom: rem(10px);

        &::after {
            content: '';
            background-image: url('../../img/decor/team-triangle.svg') no-repeat;
            width: rem(9px);
            height: rem(9px);
        }
    }

    &__content {
        
    }

    &__occ {
        font-size: rem(18px);
        font-weight: 400;
        line-height: rem(21px);
        color: #000000;
        margin-bottom: rem(8px);
    }

    &__content-text {
        font-weight: 300;
    }
}