.section-team {
    
}


.team {
    display: flex;
    justify-content: space-between;

    &--version--desktop {
        
        .team__content {
            position: absolute;
            top: 100%;
        }
        
        @include tablets {
            display: none;
        }
    }

    &--version--mobile {
            display: none;
        
             @include tablets {
                    display: block;

                } 
    
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        text-align: center;
        margin-right: rem(20px);
        position: relative;

        &-active {
            //.team__content {
                //height: 100%;
           // }

            .team__title-icon {
                transform: rotate(180deg);
            }

            .team__title-icon--active {
                transform: rotate(180deg);
            }
        }

        &:last-child {
            margin-right: 0;
        }

        @include tablets {
            margin-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: rem(16px);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__member {
        margin-bottom: rem(20px);
    }

    &__title {
        color: #000000;
        font-weight: 700;
        font-size: rem(21px);
        line-height: rem(25px);
        border: none;
        background: 0;
        margin-bottom: rem(10px);
        cursor: pointer;
        position: relative;

        &-icon {
            width: rem(9px);
            height: rem(9px);
            position: absolute;
            top: 34%;
            right: -5%
        }

        &-icon--active {
            transform: rotate(180deg)
        }
    }

    &__content {
       overflow: hidden; 
       transition: height .3s;
       height: 0;

       &-block {
        
        @include tablets {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            min-height: 100px;
           }
       }
       
    }
     

    &__occ {
        font-size: rem(18px);
        font-weight: 400;
        line-height: rem(21px);
        color: #000000;
        margin-bottom: rem(8px);

        @include tablets {
            font-weight: 700;
            font-size: rem(18px);
           }
    }

    &__content-text {
        font-weight: 300;
        
        @include tablets {
            
           }
    }
}


     